@import'./utils/variables';
@import'./components/header';
@import'./components/hero';
@import'./components/benefits';
@import'./components/team';
@import'./components/work';
@import'./components/client';
@import'./footer/fotbg';
@import'./footer/sucribe';
@import'./footer/foter-icon';
@import'./components/backdrop';
@import'./components/modal';
@import'./portfolio/buttonport';
@import'./portfolio/cards';
@import'./base/normalize';
