.footer1 .link1 {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $--primary-background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer1 .link1:hover,
.footer1 .link1:focus {
    background-color: $--logo-link-color;
    fill: $--primary-background-color;

}



.conect
 {
    @extend %centeredFlex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}
.conect {
    @include tablet{
        margin-left: 165px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
}
.conect {
    @include desktop {
        @extend %centeredFlex;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 93px;
        align-items: flex-start;
    }
}

.list-social {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-top: 20px;
}



.footer1 .link1 {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $--primary-background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer1 .link1:hover,
.footer1 .link1:focus {
    background-color: $--logo-link-color;
    fill: $--primary-background-color;
}



.list-social {@include desktop {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-top: 20px;
}}