

.navigation__item:first-child {
    @include tablet {
        margin-bottom: auto;
    }
}
.navigation__item:first-child {
    @include desktop {
        margin-bottom: auto;
    }
}
.navigation__item:last-child {
    @include mobile {
        margin-top: 32px;
    }
          @media screen and (max-width:479px) {
              margin-top: 32px;
          }
}

.navigation__item:last-child {
    @include tablet {
        margin-top: auto;
    }
}

.navigation__item:last-child {
    @include desktop {
        margin-top: auto;
    }
}
.page-header {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-container {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: auto;
    padding: 48px 40px;
    background-color: $--primary-background-color;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    color: $--primary-text-color;
}
.menu-container .menu-toggle {
    position: absolute;
    top: 20px;
    right: 15px;
    color: $--primary-text-color;
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: $--primary-background-color;
    color:$--logo-link-color;
}

@media (min-width: 600px) {
    .menu-toggle {
        display: none;
    }
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color:$--primary-text-color;
    text-decoration: none;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-burger_social {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 64px;
}

.menu-burger__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $--logo-link-color;
    padding-left: 10px;
    cursor: pointer;

    @media screen and(max-width:479px) {
        font-size: 12px;
    }
}

.menu-burger__social-link:first-child {
    padding-left: 0;
}

.menu-burger__social-link:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-link__curent{
    font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $--logo-link-color;
        text-decoration: none;

}
.mobile-linkmail{
    font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color:rgba(117, 117, 117, 1);
    text-decoration: none;
}
.mobile-adress{
    margin-top: 302px;
}
.mobile-adress__item--current{
    margin-top: 32px;}

